<br>
    <br>
    <br>
    <br>
    <br>
    <footer class=" container text-sm-center text-dark">
        <strong>Copyright &copy; {{anio}} Contreras </a></strong>
        <br> Todos los derechos reservados.<br>
        <b>Version</b> 1.0

    </footer>